# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local Netlify folder
.netlify

# Netlify CLI artifacts
deno.lock

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
